@using WebSiteCafe.Models;
@model List<GioHang>
@{
    ViewBag.Title = "GioHang";
    Layout = "~/Views/Layout/NguoiDungLayout.cshtml";
}
<style>
    #divDanhMucSP{
        display:none;
    }
    /*#T{
        display:none;
    }*/
    #divGioHang{
        /*border:1px solid #EEEEEE;*/
        margin-left:23%;
    }
    #divGioHang td{
        padding:10px;
        border:1px solid #EEEEEE;
    }
</style>
<h2 style="text-align: center;color:white; font-size:25px; background-color: #8d7147;background-size:50px;border-radius:15px;padding :15px;width:141px;margin-left:43%">Giỏ Hàng</h2>

<table  id="divGioHang">
    <tr>
        <td>Mã sản phẩm</td>
        <td>Tên sản phẩm</td>
        <td>Ảnh bìa</td>
        <td>Đơn giá</td>
        <td>Số lượng</td>
        <td>Thành tiền</td>
    </tr>



    @foreach (var item in Model)
    {
        <tr>
            <td>@item.iMasp</td>
            <td>@item.sTensp</td>
            <td><img src="@Url.Content("~/hinhanhsp/"+item.sAnhbia)" style="width:50px;height:50px"></td>
            <td>@string.Format("{0:0,0}", item.dDongia) VNĐ</td>
            <td>@item.iSoluong</td>
            <td>@string.Format("{0:0,0}", item.dThanhtien) VNĐ</td>
        </tr>

    }
    <tr>
        <td colspan="6" style="text-align:right; color:blue; border:none">
            @Html.ActionLink("Chỉnh sửa giỏ hàng", "SuaGioHang")
        </td>
    </tr>
    <tr>
        <td colspan="6" style="text-align:right; border:none">
            @using (Html.BeginForm("DatHang", "Giohang"))
            {
                <input type="submit" value="Đặt hàng" />
            }
        </td>
    </tr>
</table>