<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="icon" type="image/png" href="~/HinhAnh/coffee-icon-7.ico" />
    <link href="~/Content/NguoiDungCssLayout/screen.css" rel="stylesheet" />
    <link href="~/Content/NguoiDungCssLayout/fonts.css" rel="stylesheet" />
    @*Chèn css layout người dùng*@
    <link href="~/Content/NguoiDungCssLayout/NguoiDungCssLayout.css" rel="stylesheet" />
    @*Chèn awesome*@
    <link href="~/Content/font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    @*Chèn link nivoslider*@
    
    <link href="~/NivoSlider/nivo-slider.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/NivoSlider/jquery.nivo.slider.js"></script>
    <script src="~/NivoSlider/jquery.nivo.slider.pack.js"></script>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-118450297-1"></script>
    <script>
          window.dataLayer = window.dataLayer || [];
          function gtag(){dataLayer.push(arguments);}
          gtag('js', new Date());

          gtag('config', 'UA-118450297-1');
    </script>
</head>
<body>
  
    <div id="ToanTrang">
        <section class="blank">
            <div class="flash">
                @*Điện thoại*@
                <div class="DienThoai">
                    <i class="fa fa-phone" aria-hidden="true"></i>
                    (08) 1900-8198
                </div>
                @*Đăng ký đăng nhập*@
                <div class="DangKyDangNhap">
                    @if (Session["TenDangNhap"] == null)
                    {
                        @Html.Action("GioHangPartial","GioHang")
                        <i class="fa fa-user-plus" aria-hidden="true"></i>
                        @Html.ActionLink("Đăng Ký", "DangKy","NguoiDung" @*null, htmlAttributes: new { @class = "Dangky" }*@)
                        <i class="fa fa-sign-in" aria-hidden="true"></i>
                        @Html.ActionLink("Đăng Nhập", "DangNhap","NguoiDung" @*null, htmlAttributes: new { @class = "DangNhap" }*@)
                    }
                    else
                    {

                        @Html.Action("GioHangPartial", "GioHang")
                        <i class="fa fa-user-o" aria-hidden="true"></i>
                        <strong>: @Session["TenDangNhap"] |</strong>
                        @Html.ActionLink("Thoát", "DangXuat", "NguoiDung")
                    }
                </div>
            </div>
           @*icon Shop*@
            <div class="icon">
                <a href="@Url.Action("Index","Home")">
                    <img src="~/HinhAnh/icon2.png" style="width:190px; height:95px"/>
                </a>
            </div>
          
            <div class="flash success" id="divDanhMuc">
                
                @*Hộp thoại tìm kiếm*@
                <div id="txtTimKiem">
                    @using (Html.BeginForm("KetQuaTimKiem","TimKiem",FormMethod.Post))
                    {
                        
                        @Html.TextBox("txtTimKiem","",htmlAttributes: new {@class="TextBoxTimKiem",@placeholder="Tìm kiếm..." })
                        <div id="divHinhAnhTimKiem">
                            <button type="submit"><img src="~/HinhAnh/search-btn-150x150.png" /></button>
                        </div>
                    }
                </div>
                <ul class="navMenu">
                    <li><a href="@Url.Action("Index","Home")">Trang Chủ</a></li>
                    <li><a href="@Url.Action("GioiThieu","GioiThieu")">Giới Thiệu</a></li>

                    <li><a href="@Url.Action("SanPham","SanPham")">Sản Phẩm</a></li>

                    @*<li class="dropdown">
                        <a href="#" class="dropbtn">Sản Phẩm</a>
                        <div class="dropdown-content">
                            <a href="@Url.Action("Hat","Hat")">Cafe Hạt</a>
                            <a href="@Url.Action("RangXay","RangXay")">Cafe Rang Xay</a>
                            <a href="@Url.Action("PhuKien","PhuKien")">Phụ Kiện</a>
                        </div>
                    </li>*@

                    <li><a href="#T">Liên Hệ</a></li>
                    <li><a href="@Url.Action("HuongDan","HuongDan")">Hướng Dẫn</a></li>
                </ul>
            </div>
            <div style="clear:both"></div>
        </section> 
        @*<br />*@

        <section class="aaaa">
            @*Chèn div nivoslider*@
            <div id="slider" class="nivoSlider">
                <img src="~/HinhAnh/bìa.jpg" />
                <img src="~/HinhAnh/bia2.1.jpg" />
                <img src="~/HinhAnh/bia3.jpg" />
            </div>
            @*<div id="htmlcaption" class="nivo-html-caption">
                <strong>This</strong> is an example of a <em>HTML</em> caption with<a href="#">a link</a>.
            </div>*@
        </section>
        <div style="clear:both"></div>

        <section class="aaaaa">
            <div class="img" id="TT">           
                <a href="@Url.Action("RangXay","RangXay")">
                    <img src="~/HinhAnh/rangxay.jpg" style="width:361px; height:316px; margin-right:2%;" />
                </a>

                <a href="@Url.Action("Hat","Hat")">
                    <img src="~/HinhAnh/hat.jpg" style="width:361px; height:316px" />
                </a>

                <a href="@Url.Action("PhuKien","PhuKien")">
                    <img src="~/HinhAnh/phukien.jpg" style="width:361px; height:316px; margin-left:2%;" />
                </a>            
            </div>
        </section>
        @*Danh mục sp*@
        <section>
            <div class="flash success" id="divDanhMucSP">
                <ul class="navMenu">
                    <li><a href="@Url.Action("MoiNhat","MoiNhat")">MỚI NHẤT</a></li>
                    <li><a href="@Url.Action("NoiBat","NoiBat")">NỔI BẬT</a></li>
                    <li><a href="@Url.Action("BanChay","BanChay")">BÁN CHẠY</a></li>
                </ul>
                <div style="clear:both"></div>
            </div>
            <div style="clear:both"></div>
            <div @*id="NoiDung"*@>
                @RenderBody()
            </div>
            <div style="clear:both"></div>
            
            
            
            
        </section>
       
        
        @*footer trang*@
        
            <footer style="background-color:#2E3639;" id="T">
                <hr />
                <style>
                    .footerleft {
                        width:650px;
                    }
                    .footerleft ul li {
                        list-style-type: none;
                        float: left;
                        padding: 20px 15px;
                        width:40%;
                    }
                    .footerleft ul li .footerleft1 {
                        color: #848889;
                        font-size: 13px;
                        line-height: 20px;
                        position: relative;
                        text-align: justify;
                    }
                    .footerleft1 h4 {
                        color: white/*#FFFFFF*/;
                        font-size: 20px;
                        font-weight: bold;
                        margin-bottom: 10px;
                    }
                </style>
                <div class="footerleft">
                    <ul>
                        <li>
                            <div class="footerleft1" id="p1">
                                <img src="~/HinhAnh/icon2.png" width="190" height="100" />
                                <p>Cafe (cafe bột + cafe hạt), Máy xay cafe, Máy pha cafe, Phin cà phê/giấy lọc.</p>
                            </div>
                        </li>
                        <li>
                            <div class="footerleft1">
                                <h4>THÔNG TIN LIÊN HỆ</h4>


                                <p>
                                    <i class="fa fa-envelope" aria-hidden="true"></i>
                                    <a href="https://mail.google.com/mail/u/0/#inbox?compose=16301a7d24303bf8" style="text-decoration:none;">nguyenvietthangdtc@gmail.com</a>
                                    @*nguyenvietthangdtc@gmail.com*@
                                </p>
                                <p>
                                    <i class="fa fa-facebook-square" aria-hidden="true"></i>
                                    <a href="https://www.facebook.com/groups/506350742862282/?ref=bookmarks" style="text-decoration:none;">Www.facebook.com</a>
                                </p>
                                <p>
                                    <i class="fa fa-phone-square" aria-hidden="true"></i>
                                    19008198
                                </p>
                                <p>Địa chỉ: 475A Điện Biên Phủ, phường 25, quận Bình Thạnh.</p>
                            </div>
                        </li>
                    </ul>

                </div>

                <div class="footerright">
                    <div class="infooterright">
                        <div id="map">
                            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3919.12360082466!2d106.71265711438512!3d10.801844361678674!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x317528a459cb43ab%3A0x6c3d29d370b52a7e!2sHutech+University!5e0!3m2!1svi!2s!4v1521484113120" width="490" height="309" frameborder="0" style="border:0" allowfullscreen></iframe>
                        </div>
                        @*<div style="clear:both"></div>*@
                        <div class="socials-share" @*style="margin-left:20%"*@ >
                            <a class="bg-facebook" href="https://www.facebook.com/sharer/sharer.php?u=https://coffeeshop.somee.com/" target="_blank"><span class="fa fa-facebook"></span> Share</a>
                            <a class="bg-twitter" href="https://twitter.com/intent/tweet?text=Coffee%20Shop%20-%20Coffee%20c%E1%BB%A7a%20m%E1%BB%8Di%20nh%C3%A0&url=http%3A%2F%2Fcoffeeshop.somee.com%2F&original_referer=" target="_blank"><span class="fa fa-twitter"></span> Tweet</a>
                            <a class="bg-google-plus" href="https://plus.google.com/share?url=http://coffeeshop.somee.com/" target="_blank"><span class="fa fa-google-plus"></span> Plus</a>
                        </div>
                    </div>
                </div>
            </footer>
        <section class="blank items">
            <div style="margin-top:-3%;">
                <p href="#" class="button button-buy" style="background-color:#1E2629;font-size:10px; ">Coffe Shop 2018</p>
            </div>
        </section>
        
    </div>
   

    @*Script chạy nivoslider*@
        <script type="text/javascript">
            $(window).load(function () {
                $('#slider').nivoSlider({
                    controlNav: false,
                    nextText: '',
                    prevText: '',
                });
            });
        </script>  
    @* api facebokk*@
    <style>
        .fb-livechat, .fb-widget {
            display: none;
        }

        .ctrlq.fb-button, .ctrlq.fb-close {
            position: fixed;
            right: 24px;
            cursor: pointer;
        }

        .ctrlq.fb-button {
            z-index: 999;
            background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/PjwhRE9DVFlQRSBzdmcgIFBVQkxJQyAnLS8vVzNDLy9EVEQgU1ZHIDEuMS8vRU4nICAnaHR0cDovL3d3dy53My5vcmcvR3JhcGhpY3MvU1ZHLzEuMS9EVEQvc3ZnMTEuZHRkJz48c3ZnIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMCAwIDEyOCAxMjgiIGhlaWdodD0iMTI4cHgiIGlkPSJMYXllcl8xIiB2ZXJzaW9uPSIxLjEiIHZpZXdCb3g9IjAgMCAxMjggMTI4IiB3aWR0aD0iMTI4cHgiIHhtbDpzcGFjZT0icHJlc2VydmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPjxnPjxyZWN0IGZpbGw9IiMwMDg0RkYiIGhlaWdodD0iMTI4IiB3aWR0aD0iMTI4Ii8+PC9nPjxwYXRoIGQ9Ik02NCwxNy41MzFjLTI1LjQwNSwwLTQ2LDE5LjI1OS00Niw0My4wMTVjMCwxMy41MTUsNi42NjUsMjUuNTc0LDE3LjA4OSwzMy40NnYxNi40NjIgIGwxNS42OTgtOC43MDdjNC4xODYsMS4xNzEsOC42MjEsMS44LDEzLjIxMywxLjhjMjUuNDA1LDAsNDYtMTkuMjU4LDQ2LTQzLjAxNUMxMTAsMzYuNzksODkuNDA1LDE3LjUzMSw2NCwxNy41MzF6IE02OC44NDUsNzUuMjE0ICBMNTYuOTQ3LDYyLjg1NUwzNC4wMzUsNzUuNTI0bDI1LjEyLTI2LjY1N2wxMS44OTgsMTIuMzU5bDIyLjkxLTEyLjY3TDY4Ljg0NSw3NS4yMTR6IiBmaWxsPSIjRkZGRkZGIiBpZD0iQnViYmxlX1NoYXBlIi8+PC9zdmc+) center no-repeat #0084ff;
            width: 60px;
            height: 60px;
            text-align: center;
            bottom: 10px;
            border: 0;
            outline: 0;
            border-radius: 60px;
            -webkit-border-radius: 60px;
            -moz-border-radius: 60px;
            -ms-border-radius: 60px;
            -o-border-radius: 60px;
            box-shadow: 0 1px 6px rgba(0, 0, 0, .06), 0 2px 32px rgba(0, 0, 0, .16);
            -webkit-transition: box-shadow .2s ease;
            background-size: 80%;
            transition: all .2s ease-in-out;
        }

            .ctrlq.fb-button:focus, .ctrlq.fb-button:hover {
                transform: scale(1.1);
                box-shadow: 0 2px 8px rgba(0, 0, 0, .09), 0 4px 40px rgba(0, 0, 0, .24);
            }

        .fb-widget {
            background: #fff;
            z-index: 1000;
            position: fixed;
            width: 360px;
            height: 435px;
            overflow: hidden;
            opacity: 0;
            bottom: 0;
            right: 24px;
            border-radius: 6px;
            -o-border-radius: 6px;
            -webkit-border-radius: 6px;
            box-shadow: 0 5px 40px rgba(0, 0, 0, .16);
            -webkit-box-shadow: 0 5px 40px rgba(0, 0, 0, .16);
            -moz-box-shadow: 0 5px 40px rgba(0, 0, 0, .16);
            -o-box-shadow: 0 5px 40px rgba(0, 0, 0, .16);
        }

        .fb-credit {
            text-align: center;
            margin-top: 8px;
        }

            .fb-credit a {
                transition: none;
                color: #bec2c9;
                font-family: Helvetica, Arial, sans-serif;
                font-size: 12px;
                text-decoration: none;
                border: 0;
                font-weight: 400;
            }

        .ctrlq.fb-overlay {
            z-index: 0;
            position: fixed;
            height: 100vh;
            width: 100vw;
            -webkit-transition: opacity .4s, visibility .4s;
            transition: opacity .4s, visibility .4s;
            top: 0;
            left: 0;
            background: rgba(0, 0, 0, .05);
            display: none;
        }

        .ctrlq.fb-close {
            z-index: 4;
            padding: 0 6px;
            background: #365899;
            font-weight: 700;
            font-size: 11px;
            color: #fff;
            margin: 8px;
            border-radius: 3px;
        }

            .ctrlq.fb-close::after {
                content: "X";
                font-family: sans-serif;
            }

        .bubble {
            width: 20px;
            height: 20px;
            background: #c00;
            color: #fff;
            position: absolute;
            z-index: 999999999;
            text-align: center;
            vertical-align: middle;
            top: -2px;
            left: -5px;
            border-radius: 50%;
        }

        .bubble-msg {
            width: 120px;
            left: -140px;
            top: 5px;
            position: relative;
            background: rgba(59, 89, 152, .8);
            color: #fff;
            padding: 5px 8px;
            border-radius: 8px;
            text-align: center;
            font-size: 13px;
        }
    </style>
    <div class="fb-livechat"> 
        <div class="ctrlq fb-overlay"></div>
        <div class="fb-widget"> 
            <div class="ctrlq fb-close"></div>
            <div class="fb-page" data-href="https://www.facebook.com/ShopCoffe-171317503528089/" data-tabs="messages" data-width="360" data-height="400" data-small-header="true" data-hide-cover="true" data-show-facepile="false"> </div>
            <div class="fb-credit"> 
                <a href="https://chanhtuoi.com" target="_blank">Powered by Kun</a> 
            </div>
            <div id="fb-root"></div>
        </div>
            <a href="https://www.facebook.com/ShopCoffe-171317503528089/" title="Gửi tin nhắn cho chúng tôi qua Facebook" class="ctrlq fb-button"> 
                <div class="bubble">1</div>
                <div class="bubble-msg">Bạn cần hỗ trợ?</div>
            </a>
    </div>
    <script src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.9"></script> 
    <script>$(document).ready(function () { function detectmob() { if (navigator.userAgent.match(/Android/i) || navigator.userAgent.match(/webOS/i) || navigator.userAgent.match(/iPhone/i) || navigator.userAgent.match(/iPad/i) || navigator.userAgent.match(/iPod/i) || navigator.userAgent.match(/BlackBerry/i) || navigator.userAgent.match(/Windows Phone/i)) { return true; } else { return false; } } var t = { delay: 125, overlay: $(".fb-overlay"), widget: $(".fb-widget"), button: $(".fb-button") }; setTimeout(function () { $("div.fb-livechat").fadeIn() }, 8 * t.delay); if (!detectmob()) { $(".ctrlq").on("click", function (e) { e.preventDefault(), t.overlay.is(":visible") ? (t.overlay.fadeOut(t.delay), t.widget.stop().animate({ bottom: 0, opacity: 0 }, 2 * t.delay, function () { $(this).hide("slow"), t.button.show() })) : t.button.fadeOut("medium", function () { t.widget.stop().show().animate({ bottom: "30px", opacity: 1 }, 2 * t.delay), t.overlay.fadeIn(t.delay) }) }) } });</script>

    @*het api fb*@
</body>
</html>
<noembeb>
